# Maven
target/
.mvn/wrapper/maven-wrapper.jar
release.properties
pom.xml.releaseBackup

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# SARIF reports
sarif/

# OS
.DS_Store
*~