name: main-ci-cd

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file ./pom.xml
  security:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: snyk-sca
        uses: snyk/actions/maven-3-jdk-21@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=sarif/${{ github.event.repository.name }}.snyk.sca.${{ github.run_number }}.sarif

      - name: SCA CodeQl Upload
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: sarif/${{ github.event.repository.name }}.snyk.sca.${{ github.run_number }}.sarif

      - name: Install Semgrep CE
        run: pip install semgrep

      - name: semgrep-ce-sast
        run: semgrep scan --config "p/java" --sarif --sarif-output sarif/${{ github.event.repository.name }}.semgrep-ce.sast.${{ github.run_number }}.sarif

      - name: SAST CodeQL Upload
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: sarif/${{ github.event.repository.name }}.semgrep-ce.sast.${{ github.run_number }}.sarif

      - name: Sarif File Upload
        uses: jakejarvis/s3-sync-action@master
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_DOJO_BUCKET}}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
          SOURCE_DIR: 'sarif'      # optional: defaults to entire repository