name: Snyk SCA
on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    security:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
            - uses: actions/checkout@master
            - name: Run Snyk to check for vulnerabilities
              uses: snyk/actions/maven-3-jdk-21@master
              continue-on-error: true # To make sure that SARIF upload gets called
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              with:
                  args: --sarif-file-output=sarif/snyk-${{ github.run_number }}.sarif

            - name: Upload result to GitHub Code Scanning
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: sarif/snyk-${{ github.run_number }}.sarif

            - name: Archive code coverage results
              uses: actions/upload-artifact@v4
              with:
                  name: snyk.sarif
                  path: sarif/snyk-${{ github.run_number }}.sarif
                  retention-days: 5

            - name: Upload files to S3
              uses: jakejarvis/s3-sync-action@master
              with:
                  args: --follow-symlinks
              env:
                  AWS_S3_BUCKET: ${{ secrets.AWS_S3_DOJO_BUCKET}}
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
                  SOURCE_DIR: 'sarif'      # optional: defaults to entire repository
